/* https://github.com/ChromeDevTools/devtools-frontend */

button.soft-dropdown {
    height: 26px;
    text-align: left;
    position: relative;
    border: none;
    background: none;
}

button.soft-dropdown[disabled] {
    opacity: .5;
}

button.soft-dropdown > .title {
    padding-right: 5px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.soft-dropdown[data-keyboard-focus="true"]:focus::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.08);
}

.text-prompt-root {
    display: flex;
    align-items: center;
}

.text-prompt-editing {
    box-shadow: var(--drop-shadow);
    background-color: white;
    text-overflow: clip !important;
    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    margin-right: -2px;
    margin-bottom: -1px;
    padding-bottom: 1px;
    opacity: 1.0 !important;
}

.text-prompt-editing > .text-prompt {
    color: #222 !important;
    text-decoration: none !important;
    white-space: pre;
}

.text-prompt > .auto-complete-text {
    color: rgb(128, 128, 128) !important;
}

.text-prompt[data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: rgb(128, 128, 128);
}

.text-prompt:not([data-placeholder]):empty::after {
    content: '\00A0';
    width: 0;
    display: block;
}

.text-prompt {
    cursor: text;
    overflow-x: visible;
}

.text-prompt::-webkit-scrollbar {
    display: none;
}

.text-prompt.disabled {
    opacity: 0.5;
    cursor: default;
}

.text-prompt-editing br {
    display: none;
}

.text-prompt-root:not(:focus-within) ::selection {
    background: transparent;
}

:root {
    height: 100%;
    overflow: hidden;
}

:root {
    --accent-color: #1a73e8;
    --accent-fg-color: #1a73e8;
    --accent-color-hover: #3b86e8;
    --accent-fg-color-hover: #1567D3;
    --active-control-bg-color: #5a5a5a;
    --focus-bg-color: hsl(214, 40%, 92%);
    --focus-ring-inactive-shadow-color: #e0e0e0;
    --input-validation-error: #db1600;
    --toolbar-bg-color: #f3f3f3;
    --toolbar-hover-bg-color: #eaeaea;
    --selection-fg-color: white;
    --selection-inactive-fg-color: #5a5a5a;
    --selection-inactive-bg-color: #dadada;
    --tab-selected-fg-color: #333;
    --tab-selected-bg-color: var(--toolbar-bg-color);
    --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
                   0 2px 4px rgba(0, 0, 0, 0.2),
                   0 2px 6px rgba(0, 0, 0, 0.1);
    --divider-color: #d0d0d0;
    --focus-ring-inactive-shadow: 0 0 0 1px var(--focus-ring-inactive-shadow-color);
    --item-selection-bg-color: #cfe8fc;
    --item-selection-inactive-bg-color: #e0e0e0;
}

:root {
    --focus-ring-active-shadow: 0 0 0 1px var(--accent-color);
    --selection-bg-color: var(--accent-color);
    --divider-border: 1px solid var(--divider-color);
    --item-hover-color: rgba(56, 121, 217, 0.1);
}

.devtools {
    cursor: default;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 12px;
    tab-size: 4;
    user-select: none;
    color: rgb(48, 57, 66);
    background: white;
}

.panel {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: white;
}

.panel-sidebar {
    overflow-x: hidden;
    background-color: var(--toolbar-bg-color);
}

iframe.extension {
    flex: auto;
    width: 100%;
    height: 100%;
}

iframe.panel.extension {
    display: block;
    height: 100%;
}

.devtools-link {
    color: rgb(17, 85, 204);
    text-decoration: underline;
}

.devtools-link [is=ui-icon] {
    vertical-align: middle;
}

.devtools-link[data-keyboard-focus="true"]:focus {
    outline-width: unset;
}

.devtools-link:not(.devtools-link-prevent-click) {
    cursor: pointer;
}

* {
    min-width: 0;
    min-height: 0;
}

.source-code {
    font-family: monospace;
    font-size: 11px !important;
    white-space: pre-wrap;
}

.platform-mac .monospace,
.platform-mac .source-code {
    font-size: 11px !important;
    font-family: Menlo, monospace;
}

:focus {
    outline-width: 0;
}

img {
    -webkit-user-drag: none;
}

iframe,
a img {
    border: none;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

iframe.fill {
    width: 100%;
    height: 100%;
}

.widget {
    position: relative;
    flex: auto;
    contain: style;
}

.hbox {
    display: flex;
    flex-direction: row !important;
    position: relative;
}

.vbox {
    display: flex;
    flex-direction: column !important;
    position: relative;
}

.view-container > .toolbar {
    border-bottom: 1px solid #eee;
}

.flex-auto {
    flex: auto;
}

.flex-none {
    flex: none;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflow-auto {
    overflow: auto;
}

iframe.widget {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none !important;
}

.monospace {
    font-size: 10px !important;
    font-family: monospace;
}

.highlighted-search-result {
    border-radius: 1px;
    background-color: rgba(255, 255, 0, 0.8);
    outline: 1px solid rgba(255, 255, 0, 0.8);
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(17, 85, 204);
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit;
}

input {
    background-color: white;
    color: inherit;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.54);
}

.highlighted-search-result.current-search-result {
    border-radius: 1px;
    padding: 1px;
    margin: -1px;
    background-color: rgba(255, 127, 0, 0.8);
}

.dimmed {
    opacity: 0.6;
}

.editing {
    box-shadow: var(--drop-shadow);
    background-color: white;
    text-overflow: clip !important;
    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    margin-right: -2px;
    margin-bottom: -1px;
    padding-bottom: 1px;
    opacity: 1.0 !important;
}

.editing,
.editing * {
    color: #222 !important;
    text-decoration: none !important;
}

.gray-info-message {
    text-align: center;
    font-style: italic;
    padding: 6px;
    color: #888;
    white-space: nowrap;
}

span[is=dt-icon-label] {
    flex: none;
}

.full-widget-dimmed-banner a {
    color: inherit;
}

.full-widget-dimmed-banner {
    color: #777;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 13px;
    overflow: auto;
    z-index: 500;
}

[is=ui-icon] {
    display: inline-block;
    flex-shrink: 0;
}

[is=ui-icon].icon-mask {
    background-color: rgb(110, 110, 110);
    -webkit-mask-position: var(--spritesheet-position);
}

[is=ui-icon]:not(.icon-mask) {
    background-position: var(--spritesheet-position);
}

.spritesheet-smallicons:not(.icon-mask) {
    background-image: url(images/small-icons.svg);
}

.spritesheet-smallicons.icon-mask {
    -webkit-mask-image: url(images/small-icons.svg);
}

.spritesheet-largeicons:not(.icon-mask) {
    background-image: url(images/large-icons.svg);
}

.spritesheet-largeicons.icon-mask {
    -webkit-mask-image: url(images/large-icons.svg);
}

.spritesheet-mediumicons:not(.icon-mask) {
    background-image: url(images/medium-icons.svg);
}

.spritesheet-mediumicons.icon-mask {
    -webkit-mask-image: url(images/medium-icons.svg);
}

.expandable-inline-button {
    background-color: #dedede;
    color: #333;
    cursor: pointer;
    border-radius: 3px;
}

.undisplayable-text,
.expandable-inline-button {
    padding: 1px 3px;
    margin: 0 2px;
    font-size: 11px;
    font-family: sans-serif;
    white-space: nowrap;
    display: inline-block;
}

.undisplayable-text::after,
.expandable-inline-button::after {
    content: attr(data-text);
}

.undisplayable-text {
    color: rgb(128, 128, 128);
    font-style: italic;
}

.expandable-inline-button:hover {
    background-color: #d5d5d5;
}

.expandable-inline-button[data-keyboard-focus="true"] {
    background-color: #bbbbbb;
}

::selection {
    background-color: #bbdefb;
}

#console-prompt .console-prompt-icon {
  position: absolute;
  left: -13px;
  top: 5px;
  user-select: none;
}

.console-view {
    background-color: white;
    overflow: hidden;
    --message-border-color: rgb(240, 240, 240);
    --warning-border-color: hsl(50, 100%, 88%);
    --error-border-color: hsl(0, 100%, 92%);
    --error-text-color: red;
}

.console-toolbar-container {
    display: flex;
    flex: none;
}

.console-main-toolbar {
    flex: 1 1 auto;
}

.console-toolbar-container > .toolbar {
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
}

.console-view-wrapper {
    background-color: #eee;
}

.console-view-fix-select-all {
    height: 0;
    overflow: hidden;
}

.console-settings-pane {
    flex: none;
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
}

.console-settings-pane .toolbar {
    flex: 1 1;
}

#console-messages {
    flex: 1 1;
    overflow-y: auto;
    word-wrap: break-word;
    user-select: text;
    transform: translateZ(0);
    overflow-anchor: none;
}

#console-prompt {
    clear: right;
    position: relative;
    margin: 0 22px 0 20px;
}

.console-prompt-editor-container {
    min-height: 21px;
}

.console-message,
.console-user-command {
    clear: right;
    position: relative;
    padding: 3px 22px 1px 0;
    margin-left: 24px;
    min-height: 17px;
    flex: auto;
    display: flex;
}

.console-message > * {
    flex: auto;
}

.console-timestamp {
    color: gray;
    user-select: none;
    flex: none;
    margin-right: 5px;
}

.message-level-icon, .command-result-icon {
    position: absolute;
    left: -17px;
    top: 4px;
    user-select: none;
}

.console-message-repeat-count {
    margin: 2px 0 0 10px;
    flex: none;
}

.repeated-message {
    margin-left: 4px;
}

.repeated-message .message-level-icon {
    display: none;
}

.repeated-message .console-message-stack-trace-toggle,
.repeated-message > .console-message-text {
    flex: 1;
}

.console-error-level .repeated-message,
.console-warning-level .repeated-message,
.console-verbose-level .repeated-message,
.console-info-level .repeated-message {
    display: flex;
}

.console-info {
    color: rgb(128, 128, 128);
    font-style: italic;
    padding-bottom: 2px;
}

.console-group .console-group > .console-group-messages {
    margin-left: 16px;
}

.console-group-title.console-from-api {
    font-weight: bold;
}

.console-group-title .console-message {
    margin-left: 12px;
}

.expand-group-icon {
    user-select: none;
    flex: none;
    background-color: rgb(110, 110, 110);
    position: relative;
    left: 10px;
    top: 5px;
    margin-right: 2px;
}

.console-group-title .message-level-icon {
    display: none;
}

.console-message-repeat-count .expand-group-icon {
    left: 2px;
    top: 2px;
    background-color: #fff;
    margin-right: 4px;
}

.console-group {
    position: relative;
}

.console-message-wrapper {
    display: flex;
    border-top: 1px solid var(--message-border-color);
    border-bottom: 1px solid transparent;
}

.console-message-wrapper:first-of-type {
    border-top-color: transparent;
}

.console-message-wrapper.console-adjacent-user-command-result:not(.console-error-level):not(.console-warning-level) {
    border-top-width: 0px;
}

.console-message-wrapper.console-error-level,
.console-message-wrapper.console-error-level:not(:focus) + .console-message-wrapper:not(.console-warning-level):not(:focus) {
    border-top-color: var(--error-border-color);
}

.console-message-wrapper.console-warning-level,
.console-message-wrapper.console-warning-level:not(:focus) + .console-message-wrapper:not(.console-error-level):not(:focus) {
    border-top-color: var(--warning-border-color);
}

.console-message-wrapper:last-of-type {
    border-bottom-color: var(--message-border-color);
}

.console-message-wrapper.console-error-level:last-of-type {
    border-bottom-color: var(--error-border-color);
}

.console-message-wrapper.console-warning-level:last-of-type {
    border-bottom-color: var(--warning-border-color);
}

.console-message-wrapper.console-adjacent-user-command-result:not(.console-error-level):not(.console-warning-level):focus {
    border-top-width: 1px;
}

.console-message-wrapper.console-adjacent-user-command-result:not(.console-error-level):not(.console-warning-level):focus .console-message {
    padding-top: 2px;
    min-height: 16px;
}

.console-message-wrapper.console-adjacent-user-command-result:not(.console-error-level):not(.console-warning-level):focus .command-result-icon {
    top: 3px;
}

.console-message-wrapper:focus,
.console-message-wrapper:focus:last-of-type {
    border-top-color: hsl(214, 67%, 88%);
    border-bottom-color: hsl(214, 67%, 88%);
    background-color: hsl(214, 48%, 95%);
}

.console-message-wrapper.console-error-level:focus,
.console-message-wrapper.console-error-level:focus:last-of-type {
    --error-text-color: rgb(200, 0, 0);
}

.console-message-wrapper:focus + .console-message-wrapper {
    border-top-color: transparent;
}

.console-message-wrapper .nesting-level-marker {
    width: 14px;
    flex: 0 0 auto;
    border-right: 1px solid #a5a5a5;
    position: relative;
    margin-bottom: -1px;
    margin-top: -1px;
}

.console-message-wrapper:last-child .nesting-level-marker::before,
.console-message-wrapper .nesting-level-marker.group-closed::before {
    content: "";
}

.console-message-wrapper .nesting-level-marker::before {
    border-bottom: 1px solid #a5a5a5;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100%;
    width: 3px;
    height: 100%;
    box-sizing: border-box;
}

.console-error-level {
    background-color: hsl(0, 100%, 97%);
}

.console-warning-level {
    background-color: hsl(50, 100%, 95%);
}

.console-warning-level .console-message-text {
    color: hsl(39, 100%, 18%);
}

.console-error-level .console-message-text,
.console-error-level .console-view-object-properties-section {
    color: var(--error-text-color) !important;
}

.console-system-type.console-info-level {
    color: blue;
}

.console-message.console-warning-level {
    background-color: rgb(255, 250, 224);
}

#console-messages .link {
    text-decoration: underline;
}

#console-messages .link,
#console-messages .devtools-link {
    color: rgb(33%, 33%, 33%);
    cursor: pointer;
    word-break: break-all;
}

#console-messages .link:hover,
#console-messages .devtools-link:hover {
    color: rgb(15%, 15%, 15%);
}

.console-group-messages .section {
    margin: 0 0 0 12px !important;
}

.console-group-messages .section > .header {
    padding: 0 8px 0 0;
    background-image: none;
    border: none;
    min-height: 0;
}

.console-group-messages .section > .header::before {
    margin-left: -12px;
}

.console-group-messages .section > .header .title {
    color: #222;
    font-weight: normal;
    line-height: 13px;
}

.console-group-messages .section .properties li .info {
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(60%, 60%, 60%);
}

.console-object-preview {
    white-space: normal;
    word-wrap: break-word;
    font-style: italic;
}

.console-object-preview .name {
    color: rgb(136, 19, 145);
    flex-shrink: 0;
}

.console-message-text .object-value-string,
.console-message-text .object-value-regexp,
.console-message-text .object-value-symbol {
    white-space: pre-wrap;
    word-break: break-all;
}

.console-message-formatted-table {
    clear: both;
}

.console-message .source-code {
    line-height: 1.2;
}

.console-message-anchor {
    float: right;
    text-align: right;
    max-width: 100%;
    margin-left: 4px;
}

.console-message-badge {
    float: right;
    margin-left: 4px;
}

.console-message-nowrap-below,
.console-message-nowrap-below div,
.console-message-nowrap-below span {
    white-space: nowrap !important;
}

.object-state-note {
    display: inline-block;
    width: 11px;
    height: 11px;
    color: white;
    text-align: center;
    border-radius: 3px;
    line-height: 13px;
    margin: 0 6px;
    font-size: 9px;
}

.info-note {
    background-color: rgb(179, 203, 247);
}

.info-note::before {
    content: "i";
}

.console-view-object-properties-section:not(.expanded) .info-note {
    display: none;
}

.console-view-object-properties-section {
    padding: 0px;
    position: relative;
    vertical-align: baseline;
    color: inherit;
    display: inline-block;
    overflow-wrap: break-word;
    max-width: 100%;
}

.console-object {
    white-space: pre-wrap;
    word-break: break-all;
}

.console-message-stack-trace-toggle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.console-message-stack-trace-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.console-message-stack-trace-wrapper > * {
    flex: none;
}

.console-message-expand-icon {
    margin-bottom: -2px;
}

.console-searchable-view {
    max-height: 100%;
}

.console-view-pinpane {
    flex: none;
    max-height: 50%;
}

.console-main-toolbar.toolbar {
    padding: 0 2px;
}

.toolbar-shadow {
    position: relative;
    white-space: nowrap;
    height: 26px;
    overflow: hidden;
    z-index: 12;
    display: flex;
    flex: none;
    align-items: center;
}

.toolbar-shadow.wrappable {
    flex-wrap: wrap;
    overflow: visible;
}

.toolbar-shadow.toolbar-grow-vertical {
    height: initial;
}

.toolbar-shadow.vertical {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

.toolbar-item {
    position: relative;
    display: flex;
    background-color: transparent;
    flex: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 26px;
    border: none;
    white-space: pre;
}

.toolbar-item,
.toolbar-item .devtools-link {
    color: #5a5a5a;
}

select.toolbar-item:disabled {
    opacity: 0.5;
}

.toolbar-dropdown-arrow {
    background-color: #6D6D6D;
    pointer-events: none;
    flex: none;
}

select.toolbar-item:disabled + .toolbar-dropdown-arrow {
    opacity: 0.5;
}

.toolbar-button {
    white-space: nowrap;
    overflow: hidden;
    min-width: 28px;
    background: transparent;
    border-radius: 0;
}

.toolbar-text {
    margin: 0 5px;
    flex: none;
    color: #5a5a5a;
}

.toolbar-text:empty {
    margin: 0;
}

.toolbar-has-dropdown {
    justify-content: space-between;
    padding: 0 3px 0 5px;
    border: 1px solid transparent;
}

.toolbar-has-dropdown .toolbar-text {
    margin: 0 4px 0 0;
    text-overflow: ellipsis;
    flex: auto;
    overflow: hidden;
    text-align: right;
}

.toolbar-button.dark-text .toolbar-dropdown-arrow {
    background-color: #333;
}

.toolbar-has-glyph .toolbar-text {
    margin-left: -4px;
}

.toolbar-button:not(.toolbar-has-glyph):not(.toolbar-has-dropdown):not(.largeicon-menu):not(.toolbar-button-secondary) {
    font-weight: bold;
}

.toolbar-render-as-links * {
    font-weight: initial;
    color: rgb(17, 85, 204);
    text-decoration: underline;
    cursor: pointer;
}

.toolbar-toggled-gray:not(.toolbar-render-as-links) .toolbar-button:not(.toolbar-has-glyph):not(.toolbar-has-dropdown):not(.largeicon-menu):hover {
    background-color: var(--toolbar-bg-color);
}

.toolbar-glyph {
    background-color: #5a5a5a;
    flex: none;
}

.toolbar-button:disabled {
    opacity: 0.5;
}

.toolbar-button.dark-text .toolbar-text{
    color: #333 !important;
}

:not(.toolbar-render-as-links) .toolbar-button:enabled:hover:not(:active) .toolbar-glyph {
    background-color: #333;
}

:not(.toolbar-render-as-links) .toolbar-button:enabled:hover:not(:active) .toolbar-text {
    color: #333;
}

.toolbar-button.toolbar-state-on .toolbar-glyph,
.toolbar-blue-on-hover .toolbar-button:not(.toolbar-state-on):enabled:hover:not(:active) {
    background-color: var(--accent-color);
}

.toolbar-button.toolbar-state-on .toolbar-text {
    color: var(--accent-color);
}

.toolbar-blue-on-hover .toolbar-button:not(.toolbar-state-on):enabled:hover .toolbar-glyph {
    background-color: white;
}

.toolbar-blue-on-hover .toolbar-button:not(.toolbar-state-on):enabled:hover .toolbar-text {
    color: white;
}

.toolbar-button.toolbar-state-on:enabled:hover:not(:active) .toolbar-glyph,
.toolbar-blue-on-hover .toolbar-button:not(.toolbar-state-on):enabled:active:hover {
    background-color: var(--accent-color);
}

.toolbar-button.toolbar-state-on:enabled:hover:not(:active) .toolbar-text {
    color: var(--accent-color);
}

.toolbar-toggled-gray .toolbar-button.toolbar-state-on {
    background-color: var(--toolbar-bg-color) !important;
}

.toolbar-button.toolbar-state-on.toolbar-toggle-with-red-color .toolbar-glyph,
.toolbar-button.toolbar-state-off.toolbar-default-with-red-color .toolbar-glyph {
    background-color: rgb(216, 0, 0) !important;
}

.toolbar-item.checkbox {
    padding: 0 5px 0 2px;
}

.toolbar-item.checkbox:hover {
    color: #333;
}

.toolbar-select-container {
    display: inline-flex;
    flex-shrink: 0;
    margin-right: 6px;
}

select.toolbar-item {
    min-width: 38px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 13px 0 5px;
    margin-right: -10px;
    position: relative;
    height: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
}

select.toolbar-item[data-keyboard-focus="true"]:focus {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

select.toolbar-item[data-keyboard-focus="true"]:focus > * {
    background: white;
}

.toolbar-input {
    width: 120px;
    height: 19px;
    padding: 4px 3px 3px 3px;
    margin: 1px 3px;
    background-color: white;
    border: 1px solid transparent ;
    min-width: 35px;
}

.toolbar-input:hover {
    box-shadow: var(--focus-ring-inactive-shadow);
}

.toolbar-input.focused,
.toolbar-input:not(.toolbar-input-empty) {
    box-shadow: var(--focus-ring-active-shadow);
}

.toolbar-input > input {
    border: none;
    flex-grow: 1;
}

.toolbar-input-clear-button {
    opacity: 0.7;
    flex-basis: 13px;
    flex-shrink: 0;
    height: 16px;
}

.toolbar-input-clear-button:hover {
    opacity: .99;
}

.toolbar-input-empty .toolbar-input-clear-button {
    display: none;
}

.toolbar-prompt-proxy {
    flex: 1;
}

.toolbar-input-prompt {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    cursor: auto;
}

.toolbar-divider {
    background-color: #ccc;
    width: 1px;
    margin: 5px 4px;
    height: 16px;
}

.toolbar-spacer {
    flex: auto;
}

.long-click-glyph {
    position: absolute;
    background-color: #5a5a5a;
    top: 0;
    left:  0;
}

.toolbar-button.emulate-active {
    background-color: rgb(163, 163, 163);
}

.toolbar-button[data-keyboard-focus="true"]:focus::after {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    content: "";
}

.toolbar-shadow.floating {
    flex-direction: column;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: -1px;
    width: 28px;
    left: -2px;
}

input[is=history-input] {
    border: 1px solid transparent;
    line-height: 16px;
    padding: 1px;
}

input[is=history-input]:hover {
    box-shadow: var(--focus-ring-inactive-shadow);
}

input[is=history-input]:focus,
input[is=history-input]:not(:placeholder-shown) {
    box-shadow: var(--focus-ring-active-shadow);
}

.toolbar-item.warning {
    background: hsl(0, 100%, 95%);
}

.tabbed-pane {
    flex: auto;
    overflow: hidden;
}

.tabbed-pane-content {
    position: relative;
    overflow: auto;
    flex: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 320px - 54px);
}

.tabbed-pane-content.has-no-tabs {
    background-color: lightgray;
}

.tabbed-pane-placeholder {
    font-size: 14px;
    text-align: center;
    width: fit-content;
    margin: 20px auto 0px;
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
    line-height: 28px;
    overflow: hidden;
}

.tabbed-pane-placeholder-row {
    display: flex;
    white-space: nowrap;
    padding: 0 5px;
    margin: 2px;
}

.tabbed-pane-placeholder-row[data-keyboard-focus="true"]:focus {
    outline-width: unset;
}

.tabbed-pane-placeholder-key {
    flex: 1;
    text-align: right;
    padding-right: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabbed-pane-no-shortcut {
    flex: 1;
    text-align: center;
}

.tabbed-pane-placeholder-value {
    flex: 1;
    text-align: left;
    padding-left: 14px;
}

.tabbed-pane-header {
    display: flex;
    flex: 0 0 27px;
    border-bottom: 1px solid #ccc;
    overflow: visible;
    width: 100%;
    background-color: var(--toolbar-bg-color);
}

.tabbed-pane-header-contents {
    flex: auto;
    pointer-events: none;
    margin-left: 0;
    position: relative;
}

.tabbed-pane-header-contents > * {
    pointer-events: initial;
}

.tabbed-pane-header-tab-icon {
    min-width: 14px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.tabbed-pane-header-tab {
    float: left;
    padding: 2px 0.8em;
    height: 26px;
    line-height: 15px;
    white-space: nowrap;
    cursor: default;
    display: flex;
    align-items: center;
    color: #5a5a5a;
}

.tabbed-pane-header-tab.closeable {
    padding-right: 4px;
}

.tabbed-pane-header-tab:hover,
.tabbed-pane-shadow .tabbed-pane-header-tab[data-keyboard-focus="true"]:focus {
    color: #333;
    background-color: var(--toolbar-hover-bg-color);
}

.tabbed-pane-header-tab-title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabbed-pane-header-tab.measuring {
    visibility: hidden;
}

.tabbed-pane-header-tab.selected {
    border-bottom: none;
}

.tabbed-pane-header-tab.selected {
    background-color: var(--tab-selected-bg-color);
    color: var(--tab-selected-fg-color);
}

.tabbed-pane-header-tab.dragging {
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    background-color: #e5e5e5;
}

.tabbed-pane-header-tab .tabbed-pane-close-button {
    margin: 0 -3px 0 4px;
    visibility: hidden;
}

.tabbed-pane-header-tab:hover .tabbed-pane-close-button,
.tabbed-pane-header-tab.selected .tabbed-pane-close-button {
    visibility: visible;
}

.tabbed-pane-header-tabs-drop-down-container {
    float: left;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.tabbed-pane-header-tabs-drop-down-container > .chevron-icon {
    background-color: hsla(0,0%,20%,1);
    display: block;
}

.tabbed-pane-header-tabs-drop-down-container:hover,
.tabbed-pane-header-tabs-drop-down-container[data-keyboard-focus="true"]:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.tabbed-pane-header-tabs-drop-down-container.measuring {
    visibility: hidden;
}

.tabbed-pane-header-tabs-drop-down-container:active {
    opacity: 0.8;
}

.tabbed-pane-shadow.vertical-tab-layout {
    flex-direction: row !important;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header {
    background-color: transparent;
    border: none transparent !important;
    width: auto;
    flex: 0 0 auto;
    flex-direction: column;
    padding-top: 10px;
    overflow: hidden;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-content {
    padding: 10px 10px 10px 0;
    overflow-x: hidden;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-contents {
    margin: 0;
    flex: none;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tabs {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab {
    background-color: transparent;
    border: none transparent;
    font-weight: normal;
    text-shadow: none;
    color: #777;
    height: 26px;
    padding-left: 10px;
    border-left: 6px solid transparent;
    margin: 0;
    display: flex;
    align-items: center;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab:not(.selected) {
    cursor: pointer !important;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab.selected {
    color: inherit;
    border: none transparent;
    border-left: 6px solid #666;
}

.tabbed-pane-tab-slider {
    height: 2px;
    position: absolute;
    bottom: -1px;
    background-color: var(--accent-color);
    left: 0;
    z-index: 50;
    transform-origin: 0 100%;
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
    visibility: hidden;
}

@media (-webkit-min-device-pixel-ratio: 1.1) {
    .tabbed-pane-tab-slider {
        border-top: none;
    }
}

.tabbed-pane-tab-slider.enabled {
    visibility: visible;
}

.tabbed-pane-header-tab.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.tabbed-pane-left-toolbar {
    margin-right: -4px;
    flex: none;
}

.tabbed-pane-right-toolbar {
    margin-left: -4px;
    flex: none;
}

.tabbed-pane-header-tab,
.tabbed-pane-header-tab.selected {
    height: 26px;
    margin: 0;
    border: none;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.tabbed-pane-header-tab.selected {
    border-width: 0 2px 0 2px;
}

.tabbed-pane-header-contents {
    margin-left: 0;
}

.tabbed-pane-left-toolbar {
    margin-right: 0 !important;
}
